@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>editstudent</title>
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    </head>
<body>
<
    <div>
    <form id="form1">
         <input id="teachers_add_depart" type="hidden" name="ID" value="@Model.ID" />
            <div class="input_line">
            <label class="leftlabel">班级名称</label><input class="easyui-textbox"id="classname" name="ClassID" value="@Model.ID"/>
            </div>
            <div class="input_line">
                <label class="leftlabel">姓名：</label><input class="easyui-textbox" id="studentname" name="Name" data-options="prompt:'请输入姓名'" value="@Model.Name">
            </div>
            <div class="input_line">
                <label class="leftlabel">学生号：</label><input class="easyui-textbox" id="studentno" name="StudentNo" data-options="prompt:'请输入教工号'" value="@Model.StudentNo">
            </div>
            <div class="input_line">
                <label class="leftlabel">密码</label><input class="easyui-textbox" id="password"  name="Password" value="@Model.Password">
            </div>
            <div class="input_line">
                <label class="leftlabel">是否管理员：</label>
                
                
            </div>
            <div class="input_line">
                <label class="leftlabel">QQ</label><input class="easyui-textbox" id="QQ"  name="QQ" value="@Model.QQ">
            </div>
            <div class="input_line">
                <label class="leftlabel">微信号</label><input class="easyui-textbox" id="wechat"  name="WeChat" value="@Model.WeChat">
            </div>
            <div class="input_line">
                <label class="leftlabel">电话号</label><input class="easyui-textbox" id="tel"  name="TelNum" value="@Model.TelNum">
            </div>
            <div class="input_line">
                <label class="leftlabel">手机号1</label><input class="easyui-textbox" id="ph1"  name="PtelNo1" value="@Model.PTelNo1">
            </div>
            <div class="input_line">
                <label class="leftlabel">手机号2</label><input class="easyui-textbox" id="ph2"  name="PtelNo2" value="@Model.PTelNo2">
            </div>

</form>
    </div>
    <script>
        $(function () {
            $("#classname").combobox({
                url: "/classes/getclasseslist",
                valueField: 'ID',
                textField: "Name"
            });
        });
    </script>
</body>
</html>
